.bg-army {
  background-color: #f8f5c2;
}

.navbar {
  min-height: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 10;
}

.navbar,
body {
  direction: rtl;
  text-align: right;
}
