.card {
  background: #fff;
  border-radius: 1rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0 0 1rem;
}

.category-label {
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  margin-bottom: 0;
}

.description.with-spacing {
  margin-bottom: 1rem;
}

.city {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.priority-label {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.read-more {
  background: none;
  border: none;
  padding: 0;
  color: #0077ff;
  font-size: 0.875rem;
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.view-details-btn {
  margin-top: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-title {
  text-align: center;
  margin-bottom: 0.7rem;
  color: #003366;
  font-size: 2rem;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 500px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-modal {
  background: linear-gradient(to right, #003366, #004aad);
  color: #fff;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.modal-content p {
  line-height: 1.5;
}
