.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.modal-content {
  background-color: #fff;
  width: 70%;
  max-width: 900px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.close {
  z-index: 1000;
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.close:hover {
  color: red;
}

.body-modal {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.modal-image {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 15px 10px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.modal-tabs {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  border: none;
  background: #f1f1f1;
  color: #000;
  transition: 0.3s;
  font-size: 1.3rem;
  margin: 0 3px;
  border-radius: 5px 5px 0 0;
}

.tab-buttons button.active {
  background: #656f31;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 900px) {
  .modal-content {
    width: 90%;
    flex-direction: column;
  }

  .body-modal {
    flex-direction: column;
    min-height: auto;
  }

  .modal-image {
    display: flex;
    order: 1;
    width: 100%;
    height: 200px;
    position: relative;
    flex: auto;
    margin-bottom: 10px;
  }

  .modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-caption {
    bottom: 10px;
    font-size: 1.2rem;
    padding: 10px;
  }

  .modal-tabs {
    order: 2;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .tab-buttons button {
    font-size: 1rem;
    padding: 8px 0;
  }
}
