.home-page {
  direction: rtl;
  text-align: center;
  font-family: "Heebo", sans-serif;
  color: #1c1c1c;
  background-color: #fff4d7;
}

.hero-section {
  position: relative;
  background-image: url("../../images/background-soldiers.png");
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  max-width: 1000px;
  padding: 2rem;
  text-align: center;
}

.main-title {
  font-size: 8rem;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
}

.subtitle {
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

.btn-section {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.btn-warning {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 35px;
  padding: 12px 35px;
}

@media (max-width: 768px) {
  .btn-section {
    padding-top: 10px;
    flex-direction: column;
    gap: 1.5rem;
  }

  .main-title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
  }
}
