.requests-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem 6rem;
  direction: rtl;
  font-family: "Segoe UI", Arial, sans-serif;
}

.requests-header {
  text-align: center;
  padding: 2rem 1rem 1.2rem;
}

.requests-title {
  font-size: 4rem;
  font-weight: 800;
  color: #0f172a;
}

.requests-subtitle {
  font-size: 1.1rem;
  color: #475569;
  margin: 1rem 0 2rem;
}

.requests-results-count {
  margin-bottom: 1.5rem;
  color: #000000cf;
  font-size: 1.1rem;
}

.count-requests {
  font-size: 1.15rem;
  font-weight: bold;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto;
  padding: 5rem 0rem;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  color: #64748b;
}

.no-results-icon {
  font-size: 3rem;
  color: #475569;
  margin-bottom: 1rem;
  background-color: #47556916;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results-title {
  font-weight: bold;
  font-size: 2rem;
  color: #1e293b;
  margin-bottom: 0.5rem;
}

.no-results-text {
  font-size: 1.2rem;
  color: #475569;
  line-height: 1.5;
}

.no-results-btn {
  margin-top: 1.2rem;
  padding: 0.7rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-color: #f9d923;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.no-results-btn:hover {
  background-color: #ffea4d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem 0;
}

.create-request-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: #f9d923;
  color: #1f2937;
  border: none;
  border-radius: 999px;
  height: 60px;
  width: 60px;
  padding: 0 19px;
  cursor: pointer;
  overflow: hidden;
  transition:
    width 0.3s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 200;
}

.create-request-btn:hover {
  width: 200px;
}

.plus-icon {
  font-size: 1.8rem;
  font-weight: 600;
}

.btn-text {
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-4px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  font-size: 1.1rem;
  font-weight: 600;
}

.create-request-btn:hover .btn-text {
  opacity: 1;
  transform: translateX(0);
}

.filters-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 300;
}

.filters-drawer {
  position: fixed;
  right: 0;
  top: 90px;
  bottom: 0;
  width: 320px;
  background: #fff;
  padding: 1.5rem;
  overflow-y: auto;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.close-drawer {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.filter-group .filter-select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 0.95rem;
  background-color: #fff;
  cursor: pointer;
}

.filter-group .filter-select:focus {
  outline: none;
  border-color: #0000009f;
}

.filter-group .filter-input-number {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 0.95rem;
}

.filter-group .filter-input-number:focus {
  outline: none;
  border-color: #0000009f;
}

.quantity-range-inputs {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  margin: 0.3rem 0;
}

.clear-filters-btn {
  margin-top: 1rem;
  width: 100%;
  background: #0f172a;
  color: #fff;
  border: none;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 0.95rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .requests-page {
    padding: 0 2rem 6rem;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .requests-page {
    padding: 0 1.2rem 3rem;
  }

  .requests-header {
    padding: 3rem 1rem 1.2rem;
  }

  .requests-title {
    font-size: 2rem;
  }

  .requests-subtitle {
    font-size: 1rem;
    color: #475569;
    margin: 1rem 0;
  }

  .cards-container {
    gap: 2rem;
  }

  .requests-results-count {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .requests-page {
    padding: 0 1.5rem 6rem;
  }
  .cards-container {
    grid-template-columns: 1fr;
  }
}
